<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="true" thread-count="2"
          name="/home/rzt/IdeaProjects/multiLangFrame/src/test/java/org/example/HompageTest.java">
        <classes>
            <class name="org.example.HompageTest">
                <methods>
                    <include name="headerTest"/>
                    <include name="contactFooterTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>